header{
    padding:  0px  300px ;
    min-height: fit-content;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px auto;

    .logo{
        height: 80px;
         width: auto;   
                       
    }
    ul{
        margin: auto ;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 20px;
        a{
            color: inherit;
            text-decoration: none;
        }
    }
}