#Menus{
    .menusBgTop{
        width: 100%;
        height: 50vh;
        background-image: url('../images/images-slider.JPG');
        background-size: 110%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

    }
    .menuContent{
        padding:  50px  300px ;
        display: flex;
        flex-direction: column;
        

        h2{
            font-size: 2.5em;
            letter-spacing: 0.3em;
            font-weight: 300;
            text-align: center;
            margin-bottom: 50px;
            &:after{
                content: '';
                display: block;
                width: 60%;
                height: 2px;
                background-color: $menuColor ;
                margin: 0 auto;
                margin-top: 30px;
            }
        }
        ul{
            color: $menuColor ;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin: auto;
            width: 60%;
            list-style: none;
            li{
                display: flex;
                flex-direction: column;
            }
        
            h3{
                font-size: 1.5em;
                font-weight: 300;
                margin-bottom: 10px;
                display: flex;
                position: relative;
                // left: -20px;
            }
            
            
            
            h3:nth-child(1){
                    &::before{
                        content: '';
                        background-image: url('../images/images-slider.JPG');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        
                        height: 100%;
                        aspect-ratio: 1/1;
                        width: auto;
                    }             
            }
            
        }
        



    }

    .menusBgBottom{
        width: 100%;
        height: 50vh;
        background-image: url('../images/sushis.jpg');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

    }
}